* { margin: 0; }

:root {
  font-size: 10px;
  color: #111;
  --blue-color: #5f86fb;
  --purple-color: #b30eb3;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(var(--blue-color),var(--purple-color));
}

.container {
  display: grid;
  align-items: center;
  text-align: center;
  height: auto;
  padding-top: 15rem;
  padding-bottom: 25rem;
}

h1 { font-size: 10rem; }
p { font-size: 6rem; margin: 10px 0; }
a { text-decoration: none; }

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather {
  display: flex;
  align-items: center;
  padding: 2rem 0 4rem 0;
  height: 300px;
}
#weather-icon, #loading {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
#loading {
  font-size: 20rem;
  animation: rotate 3000ms infinite;
}
@keyframes rotate {
  10% { transform: rotate(0deg); color: var(--purple-color); }
  100% { transform: rotate(360deg); color: var(--blue-color); }
}

#temperature {
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  margin-bottom: 10rem;
  width: 75%;
}
#temperature > #real-temp {
  font-size: 16rem;
  margin: 5rem 0;
  cursor: pointer;
  color: #222;
}

#additional-info {
  display: flex;
  flex-direction: column;
}

#footer {
  position: absolute;
  background-color: rgba(40,68,40,0.6);
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #999;
  font-weight: bold;
}
#footer > p {
  font-size: 4rem;
  margin: 1rem;
  text-shadow: 1px 1px #111;
}
#footer a {
  color: #ccc;
  text-shadow: 1px 1px #111;
}

@media screen and (min-width: 1024px) {
  :root { font-size: 40%; }
  .wrapper {
    flex-direction: row-reverse;
  }
  #location {
    margin-bottom: 0;
  }
  #weather {
    width: 50%;
    position: relative;
    padding: 0;
  }
  #temperature {
    width: 50%;
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #additional-info {
    flex-direction: row;
    justify-content: space-evenly;
  }
  /* #additional-info > p::before, #additional-info > p::after { content: ' -- '; } */
  /* #additional-info > p:nth-of-type(2) { padding: 0 5rem; } */

  #footer {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
    height: 60px;
  }
}